name: tito-ride Quality Gate

on:
  pull_request:
    branches: [ "main" ] 
  workflow_dispatch:      

jobs:
  test-server:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Server Deps
        run: |
          cd server
          npm ci

      - name: Test Server
        run: |
          cd server
          npm test
        env:
          
          MONGO_URI: ${{ secrets.MONGO_URI }} 
          JWT_SECRET: "test_secret_123"

  test-client:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install Client Deps
        run: |
          cd client
          npm ci

     
      - name: Test Client
        run: |
          cd client
          npx vitest run